#!/usr/bin/env bash

# Credit to github.com/logandonley for this script
# https://github.com/logandonley/dotfiles/blob/main/run_once_install_ansible.sh

set -eu  # Strict mode

# Define ANSI escape color codes
green='\033[0;32m'
red='\033[0;31m'
yellow='\033[0;33m'
nc='\033[0m' # No Color


playbook_path="${HOME}/.bootstrap/setup.yml"

install_on_ubuntu() {
    sudo apt-get update -qq --no-install-recommends
    sudo apt-get install -qq --no-install-recommends ansible
}

install_on_fedora() {
    sudo dnf install -y -q ansible
}

OS="$(uname -s)"
case "${OS}" in
    Linux*)
        if [ -f /etc/lsb-release ]; then
            if ! ansible --version >& /dev/null; then
                echo -e "${yellow}Installing ansible${nc}"
                install_on_ubuntu
                echo -e "${green}Ansible installation complete${nc}"
            fi
        elif [ -f /etc/fedora-release ]; then
            if ! ansible --version >& /dev/null; then
                echo -e "${yellow}Installing ansible${nc}"
                install_on_fedora
                echo -e "${green}Ansible installation complete${nc}"
            fi
        else
            echo -e "${red}Unsupported Linux distribution${nc}"
            exit 1
        fi
        ;;
    *)
        echo -e "${red}Unsupported operating system: ${OS}${nc}"
        exit 1
        ;;
esac

if ! command -v ansible &> /dev/null; then
    echo -e "${red}Failed to install ansible${nc}"
    exit 1
fi

# Use strategy of hashing in template to re-run script from:
# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#run-a-script-when-the-contents-of-another-file-changes
{{ $glob_str := print .chezmoi.sourceDir "/dot_bootstrap/**/*.{txt,yml,yaml}" }}
# Bootstrap file hashes:
{{ range $file := glob $glob_str -}}
# {{ $file }} : {{ include $file | sha256sum }}
{{ end }}

echo -e "${yellow}Ansible playbook at '${playbook_path}' changed. Running ansible...${nc}"

ANSIBLE_DISPLAY_SKIPPED_HOSTS=false ansible-playbook ~/.bootstrap/setup.yml --ask-become-pass -v
